apiVersion: v1
kind: Service
metadata:
  name: node-example
  namespace: node-example
spec:
  selector:
    app: node-example
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: LoadBalancer
